@import "tailwindcss";


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Add smooth transitions for all interactive elements */
a,
button {
  transition: all 0.2s ease-in-out;
}

/* Dropdown animation */
.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}

.dropdown-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms, transform 200ms;
}
